body{
    background-color: #1e1e1e;

}
.main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/*-------------------------------------------> Sign in form <-------------------------------------------*/
.SignIn-container{
    display: flex;
    width: 20%;
    height: 40%;
    position: fixed;
    top: 25%;
    left: 40%;
    background-color: #1e1e1e;
}
.SignIn-Form {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
}
.SignIn-Form input,button{
    height: 7%;
    width: 100%;
    background-color: #333333;
    color: white;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 5px;
}
.SignIn-Form button{
    background-color: #4cae50;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
}
#stay{
    height: 15px;
    width: 15px;
}
.SignIn-Form h6{
    margin-top: -1px;
    margin-left: 15px;
    padding: 2px;
}
.SignIn-Form a{
    color: #f24236;
}
/*-------------------------------------------> Sign Up form <-------------------------------------------*/
.SignUp-container{
    display: none;
    width: 20%;
    height: 40%;
    position: fixed;
    top: 25%;
    left: 40%;
    background-color: #1e1e1e;
}
.SignUp-Form{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
}
.SignUp-Form input,button{
    height: 7%;
    width: 100%;
    background-color: #333333;
    color: white;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 5px;
}
.SignUp-Form button{
    background-color: #4cae50;
}
#isStudent{
    height: 15px;
    width: 15px;
}

.SignUp-Form h6{
    margin-top: -1px;
    margin-left: 15px;
    padding: 2px;
}
.SignUp-Form a{
    color: #f24236;
}
.Student-Container{
    display: none;
    flex-direction: column;
    height: 16%;
}
.Student-Container input{
    height: 90%;
}
/*-------------------------------------------> Left side bar <-------------------------------------------*/
.left-side-bar-container{
    display: none;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #272727;
    border: 1px solid #353535;
    border-top: 1px solid black;
    min-width: 300px;
}
.left-side-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.left-side-bar button{
    height: 6%;
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: #444444;
}


/*-------------------------------------------> Footer <-------------------------------------------*/
#footer{
    display: none;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid #444444;
}
#footer button{
    width: 80px;
    height: 30px;
    background: #f24236;
    color: white;
    border: 1px solid #454545;
    border-radius: 5px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.side-bar-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .left-side-bar-container{
        display: none;
        position: fixed;
    }
    .left-side-bar-container{
        height: 100%;
    }
}
@media screen and (max-width: 1799px){
    #user-name{
        font-size: 20px;
    }

}
/*-------------------------------------------> Project Page <-------------------------------------------*/
.project-container{
    flex-direction: column;
    border-top: 1px solid black;
    height: 100vh;
    width: 85%;
    display: none;
}
 .title h1{
     color: #027afd;
 }

 .control-container{
     display: grid;
     height: 50px;
     grid-template-rows: 50px 50px 50px;
     grid-template-columns: 150px auto 150px;
     gap: 30px;
 }

 .control-container button, .control-container input, .control-container select{
     width: 100%;
     height: 35px;
     border: 1px solid #454545;
     border-radius: 5px;
 }
.control-container select option{
    background: #b2b3b3;
}
.control-container button{
    background: #027afd;
    color: white;
}

.control-container input{

    min-width: 150px;
}
.project-list{
    display: grid;
    gap: 20px;
    width: 90%;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.project-item{
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #838383;
    transition: width 0.3s ease-in-out;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 0 10px 0 #000000;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.start-date, .end-date {
    font-size: 14px;
    color: white;
}

.progress-bar {
    flex: 1;
    height: 15px;
    background-color: #444444;
    border-radius: 7px;
}

.progress-fill {
    height: 100%;
    background-color: #027afd;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 15px;
}
/*-------------------------------------------> Project info Page <-------------------------------------------*/
.project-info-container{
    display: none;
    flex-direction: column;
    gap: 10px;
    color: white;
    width: 25%;
    height: 96vh;
    border-left: 1px solid #444444;
    padding: 30px;
    background-color: #1e1e1e;
    box-shadow: -5px 0 0 rgba(0, 0, 0, 0.3);
    overflow-y: auto;

}
.basic-info{
    display: flex;
    flex-direction: column;
}
.info-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #00bcd5;
    border-bottom: 1px solid #454545;
}
.info-title h1{
    margin: 0;
}
.info{
    display: flex;
    flex-direction: column;
}
.info p{
    margin: 5px;
}
.tasks-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tasks-info-item{
    border: 1px solid #008272;
    border-radius: 7px;
    padding: 10px;
    background-color: #333333;

}
/*-------------------------------------------> Add Project Page <-------------------------------------------*/


.material-symbols-outlined:hover{
    color: #f24236;
    cursor: pointer;
}
input,button,select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #454545;
    padding: 1px;
}
textarea {
    width: 100%;
    height: 100px;
    border-radius: 7px;
    resize: none;
    color: white;
    background-color: #454545;
}

#project-students{
    height: 80px;
}

/*------------------------------------------->  Home Page <-------------------------------------------*/
.home-container {
    display: none;
    flex-direction: column;
    width: 100%;
}
.welcome-message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #027afd;

}
.welcome-date{
    color: white;
    font-size: 20px;

}
.dashboard {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.dashboard-content {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 0 #000000;
}
.chart-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: center;

}
/*-------------------------------------------> Tasks Page <-------------------------------------------*/

.tasks-container{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}
.task-controller{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    color: white;
}
.task-controller select{
    width: 40%;
    height: 40px;
}
.task-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 50%;
}
.new-task-btn {
    height: 40px;
    width: 180px;
    background: #027afd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.table-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.task-table {
    width: 100%;
    border-collapse: collapse;
}
.task-table th, .task-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}
.status {
    font-weight: bold;
}

.status.in-progress {
    color: #4CAF50;
}

.status.completed {
    color: #00c0ff;
}

.status.pending {
    color: #ff9800;
}
/*-------------------------------------------> Create Task <-------------------------------------------*/
.task-create-container{
    display: none;
    flex-direction: column;
    color: white;
    background-color: #1e1e1e;
    position: fixed;
    width: 25%;
    height: fit-content;
    top: 10%;
    left: 37.5%;
    border: 1px solid #444444;
    border-radius: 7px;
}
.task-create-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #027afd;
}
.task-create-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

}
.task-create-form input,select,option{
    height: 30px;
    border-radius: 7px;
    background-color: #454545;
    color: white;
}
.task-create-form button{
    background-color: #4cae50;
}
.task-create-form textarea{
    background-color: #454545;
    resize: none;
    height: 60px;
}
/*-------------------------------------------> Chat Page <-------------------------------------------*/
.chat-container{
    display: none;
    flex-direction: row;
    width: 100%;
    color: white;
    background-color: #1e1e1e;
    justify-content: space-between;
}
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
    width: 25%;
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-username{
    display: flex;
    align-items: center;
    background-color: #444444;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
}
.chat-messages{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #2a2a2a;
    overflow-y: auto;
    width: 75%;
    padding: 20px;
    height: fit-content;
    border-radius: 7px;
    margin: 58px 20px 20px ;
}
.message-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.message-form textarea{
    height: 30px;
}
.message-form button{
    height: 35px;
    width: 60px;
}
.chat-messages{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.messages-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.messages{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px;
    gap: 10px;

}
.sender{
    height: 100%;
    border-radius: 7px;
    text-align: right;
    padding: 10px;
    background-color: #4cae50;
}
.receiver {
    height: 100%;
    border-radius: 7px;
    text-align: left;
    padding: 10px;
    background-color: #027afd;
}